

.slider{
    background: url(https://wallpaperaccess.com/full/854164.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    
}


.texto-nav{
    font-size: 30px;
}

.sombra{
    
    
    box-shadow: 3px 5px 9px 0px rgba(107,102,107,1);
}
.sombraf{
    
    
    box-shadow: 3px 5px 5px 7px rgba(107,102,107,1);
}


.margen{
    margin-right: 10px;
}

.color{
    background-color: #d1caca9c;
}

.boton{
    width: 130px;
    
}

.titulo{
    font-size: 160px;
    margin-top: 300px;
}

.margin{
    width: auto;
    
}


.footer{
    background-color: #343a40;
    margin-bottom: 0px;
    height: 40px;

}

.footer p{
    font-size: 15px;
}

@media screen and (max-width: 900px){
    .afectados{
        width: 80px;
        font-size: 13px;
    }

    .text{
        font-size: 25px;
    }

    .respon{
        font-size: 80px;
    }
    .slider{

        height:  55vh;
    }

    .titulo-inicio{
        font-size: 70px;
    }
}

@media screen and (max-width: 600px){
    

    .respon{
        font-size: 50px;
    }

    .titulo-inicio{
        font-size: 50px;
    }
}

@media screen and (max-width: 372px){
    

    .respon{
        font-size: 45px;
        
    }
    
    .slider{

        height:  30vh;
    }
}